<!DOCTYPE html>
<html xmlns="zxx">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Detail</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../public/admin_assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../public/admin_assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../public/admin_assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../public/admin_assets/css/custom.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">


        <!-- ad_hdr_nav 头部及导航栏 -->
        {{ include'./adm_hdr_nav.html' }}
        <!-- /ad_hdr_nav 头部及导航栏 -->

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Order Detail</h1>
                        <h1 class="page-subhead-line">此页仅展示订单详细信息</h1>
                    </div>
                </div>

                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                ORDER DETAIL
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Order ID:</label>
                                    <br>
                                    <label><%- lists._id %></label>
                                </div>
                                <div class="form-group">
                                    <label>User ID:</label>
                                    <br>
                                    <label><%- lists.userId%></label>
                                </div>
                                <div class="form-group">
                                    <label>Status:</label>
                                    <br>
                                    <% if (lists.status == "Paid" || lists.status == "Successful") { %>
                                    <label style="color: rgb(18, 180, 18);"><%- lists.status %></label>
                                    <% } else if (lists.status == "Processing" || lists.status == "Unprocessing") { %>
                                    <label style="color: rgb(190, 164, 14);"><%- lists.status %></label>
                                    <% } else if (lists.status == "Closed") { %>
                                    <label style="color: rgb(0, 0, 0);"><%- lists.status %></label>
                                    <% } else if (lists.status == "Received" || lists.status == "Solved") { %>
                                    <label style="color: rgb(14, 103, 145);"><%- lists.status %></label>
                                    <% } else if (lists.status == "Dispute" || lists.status == "Dispute Resolution") { %>
                                    <label style="color: rgb(194, 31, 31);"><%- lists.status %></label>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label>Total Quantity:</label>
                                    <br>
                                    <label><%- lists.cart.totalQty%></label>
                                </div>
                                <div class="form-group">
                                    <label>Total Price:</label>
                                    <br>
                                    <label>￥ <%- lists.cart.totalPrice%></label>
                                </div>
                                <div class="form-group">
                                    <label>User Name:</label>
                                    <br>
                                    <label><%- lists.name%></label>
                                </div>
                                <div class="form-group">
                                    <label>User Email:</label>
                                    <br>
                                    <label><%- lists.email%></label>
                                </div>
                                <div class="form-group">
                                    <label>User Phone:</label>
                                    <br>
                                    <label><%- lists.phone%><label>
                                </div>
                                <div class="form-group">
                                    <label>Addredd:</label>
                                    <br>
                                    <label><%- lists.address%></label>
                                </div>
                                {{ each lists.cart.items }}
                                <!-- /. 商品详情  -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                CART DETAIL
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label>Item:</label>
                                                    <br>
                                                    <label>{{ lists.cart.items[$index].item.goodsName }}</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Goods ID:</label>
                                                    <br>
                                                    <label>{{ lists.cart.items[$index].item._id }}</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Each Price:</label>
                                                    <br>
                                                    <label>￥ {{ lists.cart.items[$index].item.current_price }}</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Quantity:</label>
                                                    <br>
                                                    <label>{{ lists.cart.items[$index].qty }}</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Total Price:</label>
                                                    <br>
                                                    <label>￥ {{ lists.cart.items[$index].price }}<label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /. 商品详情  -->
                                {{/each}}


                                <div class="form-group">
                                    <label>Create Time:</label>
                                    <br>
                                    <label><%- lists.create_time%></label>
                                </div>

                                <!-- 如果下单，则状态为"付款" 管理员可进行"处理"操作 -->
                                <% if (lists.status == "Paid") { %>
                                <div style="display:inline-block">
                                    <form id="deal_rder_form" action="/processing_order" method="POST">
                                        <input type="hidden" name="id" value="<%- lists._id %>"></input>
                                        <td><button type="submit" class="btn btn-info">Processing</button></td>
                                    </form>
                                </div>
                                <!-- 如果订单异常或者闲置，管理员可进行"未处理"回退操作 -->
                                <% } else if (lists.status == "Processing") { %>
                                <div style="display:inline-block">
                                    <form id="deal_rder_form" action="/unprocessing_order" method="POST">
                                        <input type="hidden" name="id" value="<%- lists._id %>"></input>
                                        <td><button type="submit" class="btn btn-info">Unprocessing</button></td>
                                    </form>
                                </div>
                                <!-- 如果买家收货，或者问题解决，管理员可进行"交易成功"或"订单关闭"操作 -->
                                <% } else if (lists.status == "Received" || lists.status == "Solved") { %>
                                <div style="display:inline-block">
                                    <form id="deal_rder_form" action="/successful_order" method="POST">
                                        <input type="hidden" name="id" value="<%- lists._id %>"></input>
                                        <td><button type="submit" class="btn btn-success">Successful</button></td>
                                    </form>
                                </div>
                                <div style="display:inline-block">
                                    <form id="deal_rder_form" action="/closed_order" method="POST">
                                        <input type="hidden" name="id" value="<%- lists._id %>"></input>
                                        <td><button type="submit" class="btn btn-info">Closed</button></td>
                                    </form>
                                </div>
                                <!-- 如果买家申请订单纠纷，管理员可进行"订单纠纷状态确认"操作 -->
                                <% } else if (lists.status == "Dispute") { %>
                                <div style="display:inline-block">
                                    <form id="deal_rder_form" action="/dispute_resolution_order" method="POST">
                                        <input type="hidden" name="id" value="<%- lists._id %>"></input>
                                        <td><button type="submit" class="btn btn-danger">Dispute Resolution
                                                Resolution<br>开启纠纷处理状态</button></td>
                                    </form>
                                </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->




    <div id="footer-sec">
        Copyright &copy; 2019.毕设项目.<a target="_blank" href="http://www.google.com">逛逛谷歌？</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../public/admin_assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../public/admin_assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../public/admin_assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../public/admin_assets/js/custom.js"></script>

    <!-- 动态时间 -->
    <script>setInterval("linkweb.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 1000);</script>




</body>

</html>