<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel="icon" href="favicon.ico">
	<!-- JqueryUI -->
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Awesome font icons -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="screen">
	<!-- Owlcoursel -->
	<link rel="stylesheet" type="text/css" href="css/owl-coursel/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="css/owl-coursel/owl.transitions.css">
	<!-- Magnific-popup -->
	<link rel="stylesheet" type="text/css" href="css/magnific-popup/magnific-popup.css">
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<!-- Fw -->
	<link rel="stylesheet" type="text/css" href="css/fw.css" media="screen">
</head>

<body>


	<div class="preloader">
		<i class="fa fa-spinner"></i>
	</div>

	<!-- Header -->
	{{ include'./header.html' }}
	<!-- Breadcrumb -->
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">
					<i class="fa fa-home m-r-5"></i>
					Home
				</a>
			</li>
			<li>Contact us</li>
		</ul>
	</div>
	<!-- Contact page -->
	<div class="container">
		<div class="thumb p-30">
			<h3 class="title">Contact us</h3>
			<div class="row">
				<div class="col-sm-7 col-md-7 col-lg-8">
					<form id="contact_form">
						<div class="form-group">
							<input type="email" class="form-control form-item" placeholder="Email" name="email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control form-item" placeholder="Phone" name="phone">
						</div>
						<div class="form-group">
							<input type="text" class="form-control form-item" placeholder="Address" name="address">
						</div>

						<!-- 设置默认状态为 未处理 -->
						<div class="form-group">
							<input type="hidden" value="Unprocessed" name="status"></input>
						</div>
						<!-- /设置默认状态为 未处理 -->

						<textarea class="form-control form-item h-200 m-b-15" placeholder="Content" rows="3"
							name="content"></textarea>
						<button type="submit" class="btn ht-btn bg-3">Send</button>
					</form>
				</div>
				<div class="col-sm-5 col-md-5 col-lg-4 p-t-40">
					<p class="f-25 f-bold m-t-20">8888-888-888</p>
					<p class="m-b-15">Support@ToyMall.com</p>
					<p>Dalian Jiaotong University, Lushunkou District, Dalian, Liaoning Province</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Process -->
	{{ include'./process.html' }}

	<!-- Footer -->
	{{ include'./footer.html' }}
	<!-- jQuery -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<!-- JqueryUI -->
	<script src="js/jquery/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<!-- Owl-coursel -->
	<script src="js/owl-coursel/owl.carousel.js"></script>
	<!-- Magnific-popup -->
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<!-- Script -->
	<script src="js/script.js"></script>

	<!-- 表单数据序列化，ajax 异步提交 -->
	<!-- <script src="/node_modules/jquery/dist/jquery.js"></script> -->
	<script>
		$('#contact_form').on('submit', function (e) {
			e.preventDefault()
			var formData = $(this).serialize()
			console.log(formData)
			$.ajax({
				url: '/contact',
				type: 'post',
				data: formData,
				dataType: 'json',
				success: function (data) {
					// console.log(data)
					var err_code = data.err_code
					if (err_code === 0) {
						// 成功
						window.alert('We have received and will reply you as soon as possible!\n我们已收到，将尽快给您答复!')
						// 执行跳转至主页
						window.location.href = '/index'
					} else if (err_code === 500) {
						window.alert('Server bussy...')
					}
				}
			})
		})
	</script>
</body>

</html>