<!-- Footer -->
<footer class="color-inher">
	<!-- 小云朵部件 -->
	<div class="bot-pie"></div>
	
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 m-b-xs-30">
					<h3 class="title">Infomation</h3>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Delivery Information</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms & Conditions</a></li>
					</ul>
				</div>
				<div class="col-sm-3 m-b-xs-30">
					<h3 class="title">My Account</h3>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Order History</a></li>
						<li><a href="#">Wish List</a></li>
						<li><a href="#">Guide use</a></li>
					</ul>
				</div>
				<div class="col-sm-3 m-b-xs-30">
					<h3 class="title">Extras</h3>
					<ul>
						<li><a href="#">Brands</a></li>
						<li><a href="#">Gift Vouchers</a></li>
						<li><a href="#">Affiliates</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
				</div>
				<div class="col-sm-3 m-b-xs-30">
					<h3 class="title">Flow us</h3>
					<ul class="social_link">
						<li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
						<li><a href="#"><i class="fa fa-twitter"></i>Tiwtter</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bt">
		<div class="container">
			<p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="https://www.baidu.com">毕设项目</a></p>
		</div>
	</div>
</footer>