<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="icon" href="favicon.ico">
	<!-- JqueryUI -->
	<link rel="stylesheet" type="text/css" href="./css/jquery-ui.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<!-- Awesome font icons -->
	<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css" media="screen">
	<!-- Owlcoursel -->
	<link rel="stylesheet" type="text/css" href="./css/owl-coursel/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="./css/owl-coursel/owl.transitions.css">
	<!-- Magnific-popup -->
	<link rel="stylesheet" type="text/css" href="./css/magnific-popup/magnific-popup.css">
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="./css/style.css" media="screen">
	<!-- Fw -->
	<link rel="stylesheet" type="text/css" href="./css/fw.css" media="screen">
</head>

<body class="bg-white">




	<div class="preloader">
		<div class="preloader">
			<i class="fa fa-spinner"></i>
		</div>
	</div>

	<!-- Header -->
	{{include './header.html'}}
	

	<!-- Sideshow -->
	<div class="sideshow">
		<div class="container text-center">
			<div class="owl m-b-60" data-items="4" data-itemsDesktop="3" data-itemsDesktopSmall="2" data-itemsTablet="2"
				data-itemsMobile="1" data-transitionstyle="fade" data-singleItem="true" data-autoplay="3000"
				data-pag="false" data-buttons="false">
				<img src="images/banner-4.png" alt="image">
				<img src="images/banner-6.png" alt="image">
				<img src="images/banner-7.png" alt="image">
			</div>
			<div class="cloud-0"></div>
			<div class="cloud-3"></div>
			<div class="cloud-1"></div>
			<div class="cloud-2"></div>
		</div>
	</div>
	<div class="top-pie"></div>
	<!-- Product tabs-->
	<section class="m-t-40">
		<div class="container">
			<div class="ht-tabs ht-tabs-product text-center">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#tab-description" aria-controls="tab-description" role="tab" data-toggle="tab">New
							Products</a>
					</li>
					<li role="presentation">
						<a href="#tab-review" aria-controls="tab-review" role="tab" data-toggle="tab">Special</a>
					</li>
					<li role="presentation">
						<a href="#tab-review" aria-controls="tab-review" role="tab" data-toggle="tab">Best Seller</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="tab-description">
						<div class="row product-1">
							<% for (var i = 0; i < 12 ; i++) { %>
							<div class="col-sm-6 col-md-3">
								<!-- Product item -->
								<div class="product-item hover-img">
									<a href="product_detail?id=<%- lists[i]._id %>" class="product-img">
										<img src="<%- lists[i].imgPath%>" style="height:200px"
											alt="<%- lists[i].imgPath%>">
									</a>
									<div class="product-caption">
										<h4 class="product-name">
											<a href="product_detail?id=<%- lists[i]._id%>"><%- lists[i].goodsName %></a>
										</h4>
										<div class="product-price-group">
											<span class="product-price">￥<%- lists[i].current_price%></span>
										</div>
									</div>
									<div class="absolute-caption">
										<a href="#"><i class="fa fa-heart-o"></i></a>
										<!-- <a href="#"><i class="fa fa-exchange"></i></a> -->
										<a href="/add-to-cart/?id=<%- lists[i]._id %>"><i class="fa fa-cart-plus"></i></a>
									</div>
								</div>
							</div>
							<% } %>

						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab-review">
						There are no products
						<br>
						活动将很快到来
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hot Deal -->
	<section>
		<div class="container">
			<div class="banner banner-2x no-bg-img-xs bg-img-3 bg-size-1 bg-main bor-rand-15">
				<div class="caption">
					<h1 class="heading-size-3 color-tran">Gift for Kids <br> 给孩子一个惊喜</h1>
					<h4 class="heading-size-2 color-3 f-normal"><strong class="f-bold">45%</strong> off</h4>
					<h3 class="heading-size-6">FEE SHIPPING - VOUCHUR $80</h3>
					<a href="#" class="btn ht-btn ht-btn-2x ht-btn-bg-2">Shop now</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Product -->
	<section>
		<div class="container text-center">
			<h3 class="title">Featured Product</h3>
			<div class="row product-1">
				<div class="owl" data-items="4" data-itemsDesktop="3" data-itemsDesktopSmall="2" data-itemsTablet="2"
					data-itemsMobile="1" data-transitionstyle="backslide" data-singleItem="false" data-autoplay="3000"
					data-pag="false" data-buttons="false">
					<% for (var i = 0; i < 12; i++) { %>
					<div class="col-lg-12">
						<!-- Product item -->
						<div class="product-item hover-img">
							<a href="product_detail?id=<%- lists[i]._id %>" class="product-img"><img src="<%- lists[i].imgPath%>"
									alt="<%- lists[i].imgPath%>"></a>
							<div class="product-caption">
								<h4 class="product-name"><a href="#"><%- lists[i].goodsName %></a></h4>
								<div class="product-price-group">
									<span class="product-price">￥<%- lists[i].current_price%></span>
								</div>
								
							</div>
							<div class="absolute-caption">
								<a href="#"><i class="fa fa-heart-o"></i></a>
								<!-- <a href="#"><i class="fa fa-exchange"></i></a> -->
								<a href="/add-to-cart/?id=<%- lists[i]._id %>"><i class="fa fa-cart-plus"></i></a>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</section>
	<section class="text-center">
		<div class="container">
			<div class="newsletter">
				<h3 class="title">Subscribe to us</h3>
				<p>We will keep ycomou informed of new products and promotions</p>
				<br>
				<p>留下您的联络邮箱，我们将第一时间通知您新产品和促销活动</p>
				<form id="sub_form" action="/sub" method="post">
					<input type="text" class="form-item" placeholder="Enter your email" name="sub">
					<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
				</form>
			</div>
		</div>
	</section>
	<!-- Logo -->
	<div class="m-t-60">
		<div class="container">
			<div class="brand">
				<div class="row">
					<div class="owl" data-items="6" data-itemsDesktop="5" data-itemsDesktopSmall="3"
						data-itemsTablet="2" data-itemsMobile="1" data-transitionstyle="backslide"
						data-singleItem="false" data-autoplay="3000" data-pag="false" data-buttons="false">
						<div class="col-sm-12">
							<a href="#"><img src="images/log1.png" alt="image"></a>
						</div>
						<div class="col-sm-12">
							<a href="#"><img src="images/log2.png" alt="image"></a>
						</div>
						<div class="col-sm-12">
							<a href="#"><img src="images/log3.png" alt="image"></a>
						</div>
						<div class="col-sm-12">
							<a href="#"><img src="images/log4.png" alt="image"></a>
						</div>
						<div class="col-sm-12">
							<a href="#"><img src="images/log5.png" alt="image"></a>
						</div>
						<div class="col-sm-12">
							<a href="#"><img src="images/log6.png" alt="image"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-landscape"></div>


	<!-- Footer -->
	{{include './footer.html'}}


	<!-- jQuery -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<!-- JqueryUI -->
	<script src="js/jquery/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<!-- Owl-coursel -->
	<script src="js/owl-coursel/owl.carousel.js"></script>
	<!-- Magnific-popup -->
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<!-- Script -->
	<script src="js/script.js"></script>

		<!-- 表单数据序列化，ajax 异步提交 -->
	<!-- <script src="/node_modules/jquery/dist/jquery.js"></script> -->
	<script>
		$('#sub_form').on('submit', function (e) {
			e.preventDefault()
			var formData = $(this).serialize()
			console.log(formData)
			$.ajax({
				url: '/sub',
				type: 'post',
				data: formData,
				dataType: 'json',
				success: function (data) {
					// console.log(data)
					var err_code = data.err_code
					var nickname = data.nickname
					if (err_code === 0) {
						// 成功
						window.alert('Thank you for your subscription')
					} else if (err_code === 1) {
						// 重复
						window.alert('Email already exists')
					} else if (err_code === 500) {
						window.alert('Server bussy...')
					}
				}
			})
		})
	</script>
</body>

</html>