<!DOCTYPE html>
<html xmlns="zxx">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Arrival</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../public/admin_assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../public/admin_assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../public/admin_assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../public/admin_assets/css/custom.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">


        <!-- ad_hdr_nav 头部及导航栏 -->
        {{ include'./adm_hdr_nav.html' }}
        <!-- /ad_hdr_nav 头部及导航栏 -->

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Modify Detail</h1>
                        <h1 class="page-subhead-line">请在此页进行详细编辑</h1>
                    </div>
                </div>

                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                GOODS DETAIL
                            </div>
                            <div class="panel-body">
                                <form action="modify_goods" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="<%- goods._id%>">
                                    <div class="form-group">
                                        <label>Goods Name</label>
                                        <input class="form-control" type="text" name="name" value="<%- goods.goodsName%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Goods Brand</label>
                                        <input class="form-control" type="text" name="brand" value="<%- goods.brand%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Suitable Age</label>
                                        <input class="form-control" type="text" name="age" value="<%- goods.age%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Color</label>
                                        <input class="form-control" type="text" name="color" value="<%- goods.color%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Made In</label>
                                        <input class="form-control" type="text" name="madein" value="<%- goods.madein%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Gender Trend</label>
                                        <input class="form-control" type="text" name="gender_trend" value="<%- goods.gender_trend%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Original Price</label>
                                        <input class="form-control" type="number" name="original_price" value="<%- goods.original_price%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Current Price</label>
                                        <input class="form-control" type="number" name="current_price" value="<%- goods.current_price%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Discount</label>
                                        <input class="form-control" type="text" name="discount" value="<%- goods.discount%>">
                                    </div>

                                    <!-- 图片上传 -->
                                    <div class="form-group">
                                        <label>Image</label>
                                        <br>
                                        <input type="file" name="image" >
                                        <br>
                                        <img src="<%- goods.imgPath %>" style="width: 200px;">
                                        <br>
                                    </div>
                                    <div class="alert alert-warning"><strong>Notice!</strong> Image preview only works
                                        in IE10+, FF3.6+, Chrome6.0+ and Opera11.1+. In older browsers and Safari, the
                                        filename is shown instead.</div>
                                    <!-- /图片上传 -->

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="3" name="description" ><%- goods.description%></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">Update</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->




    <div id="footer-sec">
        Copyright &copy; 2019.毕设项目.<a target="_blank" href="http://www.google.com">逛逛谷歌？</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../public/admin_assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../public/admin_assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../public/admin_assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../public/admin_assets/js/custom.js"></script>

    <!-- 动态时间 -->
    <script>setInterval("linkweb.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 1000);</script>




</body>

</html>