<!DOCTYPE html>
<html xmlns="zxx">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Arrival</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../public/admin_assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../public/admin_assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../public/admin_assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../public/admin_assets/css/custom.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">


        <!-- ad_hdr_nav 头部及导航栏 -->
        {{ include'./adm_hdr_nav.html' }}
        <!-- /ad_hdr_nav 头部及导航栏 -->

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">New Arrival</h1>
                        <h1 class="page-subhead-line">请在此页上架货物</h1>
                    </div>
                </div>

                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                GOODS DETAIL
                            </div>
                            <div class="panel-body">
                                <form action="new_arrival" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>Goods Name</label>
                                        <input class="form-control" type="text" name="name" placeholder="Goods Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Goods Brand</label>
                                        <input class="form-control" type="text" name="brand" placeholder="Goods Brand">
                                    </div>
                                    <div class="form-group">
                                        <label>Suitable Age</label>
                                        <input class="form-control" type="text" name="age" placeholder="Suitable Age e.g. 3+">
                                    </div>
                                    <div class="form-group">
                                        <label>Color</label>
                                        <input class="form-control" type="text" name="color" placeholder="Goods Color">
                                    </div>
                                    <div class="form-group">
                                        <label>Made In</label>
                                        <input class="form-control" type="text" name="madein" placeholder="Made In">
                                    </div>
                                    <div class="form-group">
                                        <label>Availability</label>
                                        <input class="form-control" type="text" name="availability" placeholder="Principle: >= 0" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label>Gender Trend</label>
                                        <input class="form-control" type="text" name="gender_trend" placeholder="Boys? Girls? All?">
                                    </div>
                                    <div class="form-group">
                                        <label>Original_price</label>
                                        <input class="form-control" type="text" name="original_price" placeholder="Original Price">
                                    </div>
                                    <div class="form-group">
                                        <label>Current Price</label>
                                        <input class="form-control" type="text" name="current_price" placeholder="Current Price">
                                    </div>
                                    <div class="form-group">
                                        <label>Discount</label>
                                        <input class="form-control" type="text" name="discount" placeholder="Discount 80% off?">
                                    </div>

                                    <!-- 图片上传 -->
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input type="file" name="image">
                                    </div>
                                    <div class="alert alert-warning"><strong>Notice!</strong> Image preview only works
                                        in IE10+, FF3.6+, Chrome6.0+ and Opera11.1+. In older browsers and Safari, the
                                        filename is shown instead.</div>
                                    <!-- /图片上传 -->

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="3" name="description" placeholder="Description of Goods"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">Add Goods</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->




    <div id="footer-sec">
        Copyright &copy; 2019.毕设项目.<a target="_blank" href="http://www.google.com">逛逛谷歌？</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../public/admin_assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../public/admin_assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../public/admin_assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../public/admin_assets/js/custom.js"></script>

    <!-- 动态时间 -->
    <script>setInterval("linkweb.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 1000);</script>




</body>

</html>