<!-- Process 部分 -->
<section class="process">
    <div class="container">
        <div class="row m-l-r-5">
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-cogs color-3"></i>
                    </div>
                    <div class="media-body" style="height:135px">
                        <h5 class="media-heading color-3">After-sales serviceguarantee service
                        <br>
                        售后保障</h5>
                        24/7 after sales service
                        <br>
                        全年无休售后服务
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-send color-7"></i>
                    </div>
                    <div class="media-body" style="height:135px">
                        <h5 class="media-heading color-7">Express delivery
                        <br>
                        极速快递</h5>
                        Delivery to the nearest warehouse
                        <br>
                        就近仓库发货
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-car color-4"></i>
                    </div>
                    <div class="media-body" style="height:135px">
                        <h5 class="media-heading color-4">100% Monney Back
                        <br>
                        退款保障</h5>
                        12h Fast refund,7 days no reason to return
                        <br>
                        12小时极速退款,7天无理由退换
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 p-5">
                <div class="media ht-media">
                    <div class="media-left">
                        <i class="fa fa-ship color-5"></i>
                    </div>
                    <div class="media-body" style="height:135px">
                        <h5 class="media-heading color-5">Free Shipping
                        <br>
                        为您包邮</h5>
                        Postage paid by us
                        <br>
                        邮费由我们承担
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>