<!DOCTYPE html>
<html xmlns="zxx">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processing Order</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../public/admin_assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../public/admin_assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../public/admin_assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../public/admin_assets/css/custom.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- ad_hdr_nav 头部及导航栏 -->
        {{ include'./adm_hdr_nav.html' }}
        <!-- /ad_hdr_nav 头部及导航栏 -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Processing Order</h1>
                        <h1 class="page-subhead-line">请在此页处理订单</h1>
                    </div>
                </div>
                <!-- Search -->
                <form class="search_form" action="/add_goods_search" method="get">
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Goods" name="search" />
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">SEARCH</button>
                            </span>
                        </div>
                    </div>
                </form>
                <!-- /Search -->

                <hr />


                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User ID</th>
                                        <th>Item Number</th>
                                        <th>Total Price</th>
                                        <th>Buyer Name</th>
                                        <th>Buyer Email</th>
                                        <th>Buyer Phone</th>
                                        <th>Order Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < lists.length; i++) { %>
                                    <tr>
                                        <td><%- i %></td>
                                        <td><a href="/check_order?id=<%- lists[i]._id %>"><%- lists[i].userId %></a>
                                        </td>
                                        <td><%- lists[i].cart.totalQty %></td>
                                        <td><%- lists[i].cart.totalPrice %></td>
                                        <td><%- lists[i].name %></td>
                                        <td><%- lists[i].email %></td>
                                        <td><%- lists[i].phone %></td>
                                        <% if (lists[i].status == "Paid" || lists[i].status == "Successful") { %>
                                        <td style="color: rgb(18, 180, 18);"><%- lists[i].status %></td>
                                        <% } else if (lists[i].status == "Processing" || lists[i].status == "Unprocessing") { %>
                                        <td style="color: rgb(190, 164, 14);"><%- lists[i].status %></td>
                                        <% } else if (lists[i].status == "Received" || lists[i].status == "Solved") { %>
                                        <td style="color: rgb(14, 103, 145);"><%- lists[i].status %></td>
                                        <% } else if (lists[i].status == "Dispute" || lists[i].status == "Dispute Resolution") { %>
                                        <td style="color: rgb(194, 31, 31);"><%- lists[i].status %></td>
                                        <% } else if (lists[i].status == "Closed") { %>
                                        <td style="color: rgb(0, 0, 0);"><%- lists[i].status %></td>
                                        <% } %>

                                        <td><a href="/check_order?id=<%- lists[i]._id %>" class="btn btn-info">Check
                                                Order</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="footer-sec">
        Copyright &copy; 2019.毕设项目.<a target="_blank" href="http://www.google.com">逛逛谷歌？</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../public/admin_assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../public/admin_assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../public/admin_assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../public/admin_assets/js/custom.js"></script>

    <!-- 动态时间 -->
    <script>setInterval("linkweb.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 1000);</script>




</body>

</html>